<h2>Programming Languages</h2>

<ul>
  {{#each list}}
    <li>
      {{this.name}}
      <form action="/puppies/delete/{{this.id}}" method="post">
        <button type="submit" name="button">X</button>
      </form>
    </li>
  {{/each}}
</ul>

<a href="/languages/add">Add a Language</a>
<br>
<br>
<a href="/">Home</a>
<a href="/puppies">Puppies</a>
