body {
  padding-left: 240px;
  font: 14px "Roboto", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.button-collapse {
  display: none;
}

#sideNav li a{
  font-size: 1em;
}

li.logo {
  height: 150px;
}

.side-nav.fixed li.logo a {
  padding: 0;
}

.logo img {
  width: 100%;
}

body nav .brand-logo {
  padding-left: 50px;
}

.card img {
  height: 200px;
}

@media only screen and (max-width : 992px) {
 header, main, footer, body {
   padding-left: 0;
 }
 .button-collapse {
   display: block;
 }
 body nav .brand-logo {
   padding: 0;
 }
}
